/* Colors */
$c-black: #000;
$c-blue: #4DBBFA;
$c-dblue: #47ACE6;
$c-y: #E6C247;
$c-white: rgba(255, 255, 255, 0.8);

$shadow-black: 0px 14px 20px rgba(0, 0, 0, 0.1);
$shadow-blue: 0px 14px 20px rgba(34, 208, 222, 0.1);

/* Fonts */
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$roboto: "Roboto";
$rb-font: "Roboto Bold";

$hbfont: 'Helvetica Neue Cyr Black';
$hfont: 'Helvetica Neue Cyr Roman';
$hlfont: 'Helvetica Neue Cyr Light';
$hmfont: 'Helvetica Neue Cyr Medium';

/* Base variables */
$main-font: $f-sans-serif;
$main-font-size: 14px;
$main-line-height: 1.5;
$heading-font: $f-sans-serif;
$heading-line-height: 1.1;
$main-bg: $c-white;
$main-text-color: $c-black;
$secondary-text-color: $c-white;
$link-color: $main-text-color;
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;

/* Media variables */
$m-3xl: screen and (min-width: 1921px);
$m-to-xxl: screen and (max-width: 1920px);
$m-from-xxl: screen and (min-width: 1280px);
$m-xxl: screen and (min-width: 1280px) and (max-width: 1920px);
$m-to-xl: screen and (max-width: 1279px);
$m-from-xl: screen and (min-width: 1024px);
$m-xl: screen and (min-width: 1024px) and (max-width: 1279px);
$m-to-2l: screen and (max-width: 1023px);
$m-from-2l: screen and (min-width: 860px);
$m-2l: screen and (min-width: 860px) and (max-width: 1023px);
$m-to-l: screen and (max-width: 859px);
$m-from-l: screen and (min-width: 768px);
$m-l: screen and (min-width: 768px) and (max-width: 859px);
$m-to-m: screen and (max-width: 767px);
$m-from-lm: screen and (min-width: 600px);
$m-lm: screen and (min-width: 600px) and (max-width: 767px);
$m-to-sm: screen and (max-width: 600px);
$m-sm: screen and (min-width: 480px) and (max-width: 600px);
$m-from-m: screen and (min-width: 480px);
$m-m: screen and (min-width: 480px) and (max-width: 768px);
$m-to-s: screen and (max-width: 479px);
$m-from-s: screen and (min-width: 321px);
$m-s: screen and (min-width: 321px) and (max-width: 479px);
$m-xs: screen and (max-width: 320px);

$m-retina2x: screen and (min-resolution: 120dpi), screen and (min-resolution: 1.25dppx);

* {
    transition: .3s ease-in;
    font-family: $hfont;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-24 17:3:15
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


