@font-face {
    font-family: 'Helvetica Neue Cyr Black';
    src: url('HelveticaNeueCyr-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Roman';
    src: url('HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Light';

    src: url('HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Medium';
    src: url('HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}