.list_abc{
    .block_main_info{
        .header_container{
            background-image: url('./../static/images/skl8.png');
            .block_header{
                .text-period{
                    margin-top: 30px;
                    p{
                        font-size: 36px;
                    }
                }
            }
        }
    }

    .main_content{

        .list_abc_menu{
            max-width: 860px;
            li{
                a{
                    color: #7F7F7F;
                    font-size: 20px;
                    font-family: $hlfont;
                    position: relative;


                    &:hover{
                        color: #4DBBFA;
                        text-decoration: none;
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            height: 1px;
                            background: #4DBBFA;
                        }
                    }
                }

                span{
                    color: #E9E9E9;
                    font-size: 20px;
                    font-family: $hlfont;
                }
            }
        }

        .block_wrap{
            .elem_anc_title{
                color: #E6C247;
                font-size: 24px;
                font-family: $hfont;
                display: inline;
                width: 50px;
            }

            .block_abc_1{
                background: transparent;
                border: 1px solid rgba(127, 127, 127, 0.2);
                box-sizing: border-box;
                box-shadow: unset;
                border-radius: 6px;
                .panel_block{
                    &:hover{
                        background: #4DBBFA;
                        .link_person{
                            span{
                                color: white;
                            }
                        }

                        .button_acc{
                            background-image: url('./../static/images/arrows_white.png') !important;

                            span{
                                color: white;
                            }
                        }
                    }
                    .link_person{
                        font-size: 24px;
                        line-height: 30px;
                        color: black;
                        font-family: $hfont;
                    }

                    .button_acc{
                        // background-position: right 12px top 27px;
                        span{
                            font-size: 24px;
                            color: black;
                            font-family: $hfont;
                        }
                    }

                    .button_acc.collapsed{
                        background-image: url('./../static/images/arrows.png');
                    }
                }

                .panel-collapse{
                    padding: 10px 25px 10px 25px;
                    .panel-body{
                        padding: 0;
                        .col-md-12{
                            .link_nb{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 12px 0;

                                &:hover{
                                    p{
                                        color: $c-blue;
                                    }
                                }
                                p{
                                    font-family: $hlfont;
                                    color: #2C2C2C;
                                }
                                .radius{
                                    position: relative;
                                    &:hover{
                                        text-decoration: none !important;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

@media screen and (max-width: 1024px) {
    .list_abc{


        .main_content{

            .list_abc_menu{
                margin-top: 40px;
                margin-bottom: 20px;
                li{
                    a{
                        font-size: 18px;
                    }

                    span{
                        font-size: 18px;
                    }
                }
            }

            .block_wrap{
                max-width: 758px;
                margin: 0 auto;
                padding-left: 50px;
                padding-right: 50px;
                .elem_anc_title{
                    font-size: 20px;
                    position: absolute;
                    top: 0px;
                    left: -30px;
                }

                .block_abc_1{
                    .panel_block{
                        .link_person{
                            font-size: 20px;
                            line-height: 26px;
                            margin: 5px 0;
                            text-align: left;
                        }


                        .button_acc{
                            span{
                                margin-top: 6px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .list_abc{


        .main_content{

            .list_abc_menu{
                max-width: 502px;
                li{
                    a{
                        font-size: 16px;
                    }

                    span{
                        font-size: 16px;
                    }
                }
            }

            .block_wrap{
                .elem_anc_title{
                    font-size: 16px;
                    left: -10px;
                    top: -4px;
                }

                .block_abc_1{
                    .panel_block{
                        .link_person{
                            font-size: 15px;
                            line-height: 21px;
                            margin: 0px 0;
                            padding-right: 0px;
                        }


                        .button_acc.collapsed {
                            background-position: right 12px top 16px;

                        }
                        .button_acc{
                            background-position: right 12px top -71px;
                            padding: 10px 55px 3px 15px;
                            span{
                                margin-top: 0px;
                                font-size: 16px;
                            }
                        }
                    }

                    
                    .panel-collapse{
                        .panel-body{
                            .col-md-12{
                                padding: 0;
                            }
                        }
                    }
                }
            }


        }
    }
}

@media screen and (max-width: 710px) {
    .list_abc{

        .main_content{

            .block_wrap{
                .elem_anc_title{
                }


                .block_abc_1{
                    background: transparent;
                    border: 1px solid rgba(127, 127, 127, 0.2);
                    box-sizing: border-box;
                    box-shadow: unset;
                    border-radius: 6px;
                    .panel_block{
                        &:hover{
                            background: #4DBBFA;
                            .link_person{
                                padding-right: 5px !important;
                                span{
                                    color: white;
                                }
                            }

                            .button_acc{
                                span{
                                    color: white;
                                }
                            }
                        }


                        .button_acc{
                            // background-position: right 12px top 27px;
                            span{
                            }
                        }
                    }

                    .panel-collapse{
                        .panel-body{
                            padding: 0;
                            .col-md-12{
                                padding: 0;
                                .link_nb{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    flex-direction: column;
                                    p{
                                        font-family: $hlfont;
                                        color: #2C2C2C;
                                    }
                                    .radius{
                                        width: 100%;
                                        position: relative;
                                        text-align: center;
                                        margin-top: 10px;
                                        padding: 7px;
                                        &:hover{
                                            text-decoration: none !important;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 480px) {
    .list_abc{
        .main_content{
            .list_abc_menu{
                li{
                    a{
                        font-size: 16px;
                    }

                    span{
                        font-size: 16px;
                    }
                }
            }

            .block_wrap{
                padding: 0;
                .elem_anc_title{
                    font-size: 16px;
                    display: block;
                    width: 100%;
                    position: relative;
                }

                .block_abc_1{
                    .panel_block{
                        display: flex;
                        .link_person{
                            flex: 1;
                            align-self: center;
                            height: 100%;
                            font-size: 13px;
                            line-height: 17px;
                            padding-left: 20px;
                            margin: 0px 0;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }


                        .button_acc.collapsed {
                            background-position: right 12px top 16px;

                        }
                        .button_acc{
                            display: flex;
                            align-items: center;
                            width: 80px;
                            min-width: 80px;
                            margin-top: 0px;

                            background-position: right 12px top -71px;
                            span{
                                display: flex;
                                align-items: center;
                                height: 100%;
                                justify-content: center;
                                margin-top: 10px;
                                font-size: 16px;
                                margin-left: -14px;
                            }
                        }

                    }

                    .panel-collapse{
                        .panel-body{
                            padding: 0;
                            .col-md-12{
                                padding: 0;
                                .link_nb{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    flex-direction: column;
                                    p{
                                        font-family: $hlfont;
                                        color: #2C2C2C;
                                    }
                                    .radius{
                                        width: 100%;
                                        padding: 3px;
                                        &:hover{
                                            text-decoration: none !important;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }


        }
    }
}