.posipak_detail{
    .block_main_info{
        box-shadow: inset 0px 12px 16px -12px rgba(0, 0, 0, 0.32);
        background: unset;
        .header_container{
            background: unset;
            .block_header{
                background: unset;
                border-bottom: 1px solid rgba(127, 127, 127, 0.2);
                padding-bottom: 84px;
                .col-md-12{
                    .header_content{
                        h1{
                            font-size: 46px;
                            color: black;
                            font-family: $hbfont;
                        }
                    }
    
                    .text_content{
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        a{
                            padding: 13px 18px;
                            display: block;
                            font-size: 16px;
                            font-family: $hlfont;
                            color: black;
                            border: 1px solid rgba(44, 44, 44, 0.2);
                            box-sizing: border-box;
                            border-radius: 6px;
                            text-decoration: none;

                            &:hover{
                                color: white;
                                background: black;
                                box-shadow: 0px 20px 20px rgba(44, 44, 44, 0.2);
                            }
                            &:active{
                                border-color: #4DBBFA;
                                color: white;
                                background: #4DBBFA;
                                box-shadow: unset;
                            }
                        }
                    }
    
                    .icon_person{
                        img{
                            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .container{
        max-width: 1280px;
        width: 100%;
    }

    .main_content{
        .tab_block{

            .drop_down_open{
                display: none;
            }

            .nav{
                border-bottom: 0px;
                max-width: 780px;
                width: 100%;
                margin: 0 auto;
                margin-bottom: -1px;
                li{
                    a{
                        font-size: 16px;
                        font-family: $hlfont;
                        border-bottom: 1px solid rgba(127, 127, 127, 0.2);
                        
                    }
                }
                
                li.active{
                    a{
                        background: transparent;
                        color: #47ACE6;
                        border-bottom: 0px;
                        background: white;
                    }

                }
            }
            .tab-content{
                .tab-pane{

                    .top_block{
                        max-width: 780px;
                        width: 100%;
                        margin: 0 auto;
                        background: transparent;
                        border: 1px solid rgba(127, 127, 127, 0.2);
                        box-sizing: border-box;
                        border-radius: 0px 6px 6px 6px;
                        p{
                            color: black;
                            font-family: $hfont;
                            font-size: 20px;
                            color: black;
                            span{
                                font-family: $hlfont;
                                color: #7F7F7F;
                                font-weight: normal;
                            }

                            a{
                                font-family: $hlfont;
                                color: $c-y;
                                text-decoration: none;
                                position: relative;

                                &:hover{
                                    color: $c-blue;
                                    &:after{
                                        content: url('./../assets/svg/right_blue.svg');
                                    }
                                }

                                &:after{
                                    content: url('./../assets/svg/right.svg');
                                    top: 0px;
                                    position: absolute;
                                    right: -15px;
                                }
                            }
                        }
                    }

                    .bottom_block{
                        background: transparent;
                        .person_count{
                            padding-top: 10px;
                            p{
                                font-size: 24px;
                                text-align: center;
                                font-family: $hbfont;
                                color: black;
                            }
                        }

                        .wrap_block{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: stretch;
                            border: 1px solid rgba(127, 127, 127, 0.2);
                             border-radius: 6px;
                            .panel-body{
                                width: 100%;
                                padding: 0 20px;
                                margin-bottom: 0px;
                                border: 0px;
                                &:last-child{
                                    .col-md-12{
                                        a{
                                            border-color: transparent;
                                        }
                                    }
                                }

                                .col-md-12{
                                    box-sizing: border-box;
                                    height: 100%;
                                   
                                    a{
                                        height: 100%;
                                        padding: 10px 0px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        border-bottom: 1px solid rgba(127, 127, 127, 0.2);



                                        h2{
                                            font-size: 16px;
                                            line-height: 21px;
                                            padding-bottom: 0px;
                                            font-family: $hlfont;
                                            color: black;
                                        }
                                        span.radius{
                                            display: inline-block;
                                            width: fit-content;
                                            margin-top: 0px;
                                            position: relative;
                                            font-size: 16px;
                                            line-height: 21px;
                                            font-family: $hlfont;
                                            border: 1px solid transparent;
                                            box-sizing: border-box;
                                        }

                                        &:hover{
                                            h2{
                                                color: $c-blue;
                                            }

                                        }

                                        &:active{
                                            box-shadow: unset;
                                            
                                        }
                                    }
                                }
                            }

                            
                        }

                        .wrap_block.open{
                            .panel-body{
                                display: block !important;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .posipak_detail{
         .container{
            max-width: 100%;
            width: 100%;
        }
        .block_main_info{
            .header_container{
                .block_header{
                    padding-bottom: 84px;
                    padding-top: 50px;
                    .col-md-12{
                        .header_content{
                            h1{
                                font-size: 36px;
                            }
                        }
        
                        .text_content{
                            padding-top: 5px;
                            margin-bottom: 30px;
                        }
        
                        .icon_person{
                        }
                    }
                }
            }
        }

       
        .main_content{
            padding-top: 100px;

            
            .tab_block{

                .tab-content{
                    .tab-pane{

                        .bottom_block{
                            padding-left: 5px;
                            padding-right: 5px;
                            .person_count{
                                padding-top: 10px;
                                p{
                                    font-size: 20px;
                                }
                            }

                            .wrap_block{
                                .panel-body{
                                    .col-md-12{
                                        a{


                                            h2{
                                                font-size: 14px;
                                                line-height: 18px;
                                            }
                                            span.radius{
                                                font-size: 13px;
                                                line-height: 17px;
                                            }

            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .posipak_detail{
         .container{
            padding-left: 20px;
            padding-right: 20px
        }
        .block_main_info{
            .header_container{
                .block_header{
                    padding-bottom: 84px;
                    padding-top: 30px;
                    .col-md-12{
                        .header_content{
                            h1{
                                font-size: 28px;
                            }
                        }
        
                        .text_content{
                            padding-top: 5px;
                            margin-bottom: 30px;
                            a{
                                font-size: 14px;
                                padding: 8px 10px;
                            }
                        }
        
                        .icon_person{
                        }
                    }
                }
            }
        }

       
        .main_content{
            padding-top: 100px;

            
            .tab_block{

                .nav{
                    li{
                        a{
                            padding: 5px 10px;
                            font-size: 14px;
                        }
                    }
                }

                .tab-content{
                    .tab-pane{

                        .top_block{
                            p{
                                color: black;
                                font-family: $hfont;
                                font-size: 18px;
                                line-height: 23px;


                                a{
                                    font-size: 18px;
                                }
                            }
                        }

                        .bottom_block{
                            padding-left: 0px;
                            padding-right: 0px;
                            .person_count{
                                padding-top: 10px;
                                p{
                                    font-size: 18px;
                                }
                            }

                            .wrap_block{
                                margin-left: -5px;
                                margin-right: -5px;
                                width: calc(100% + 10px);
                                .panel-body{
                                    .col-md-12{
                                        padding: 0;
                                        a{


                                            h2{
                                                font-size: 14px;
                                                line-height: 18px;
                                            }
                                            span.radius{
                                                font-size: 12px;
                                                line-height: 17px;
                                            }

            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .posipak_detail{
         .container{
            padding-left: 20px;
            padding-right: 20px
        }
        .block_main_info{
            .header_container{
                .block_header{
                    padding-top: 10px;
                    padding-bottom: 68px;
                    .col-md-12{
                        .header_content{
                            h1{
                                font-size: 22px;
                                line-height: 23px;
                            }
                        }
        
                        .text_content{
                            padding-top: 5px;
                            margin-bottom: 30px;
                            a{
                                font-size: 14px;
                                padding: 8px 10px;
                            }
                        }
        
                        .icon_person{
                            width: 135px;
                            height: 135px;
                            margin-left: -67px;
                        }
                    }
                }
            }
        }

       
        .main_content{
            padding-top: 100px;

            
            .tab_block{
                .drop_down_open{
                    display: block;
                    border: 1px solid rgba(127, 127, 127, 0.2);
                    box-sizing: border-box;
                    border-radius: 6px;
                    color: #47ACE6;
                    padding: 5px 20px;
                    text-align: left;
                    font-size: 15px;
                    font-family: $hfont;
                    margin-bottom: 5px;
                    position: relative;

                    &:after{
                        content: url('./../assets/svg/down.svg');
                        top: 0px;
                        right: 0px;
                        position: absolute;
                        top: 6px;
                        right: 11px;
                    }
                }

                .drop_down_open.open{
                    &:after{
                        content: url('./../assets/svg/down.svg');
                        top: 0px;
                        right: 0px;
                        position: absolute;
                        top: 6px;
                        right: 11px;
                        transform: rotateX(180deg);
                    }
                }
                .nav{
                    overflow: hidden;
                    max-height: 0px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 6px;
                    // border: 1px solid rgba(127, 127, 127, 0.2);
                    margin-bottom: 0px;
                    li{
                        padding: 0 20px;

                        &:hover{
                            background: #4DBBFA;
                            a{
                                color: white;
                            }
                        }
                        &:hover{
                            background: transparent;
                            a{
                                color: black;
                                font-weight: bold;
                            }
                        }
                        &:last-child{
                            a{
                                border-bottom: 0px solid rgba(127, 127, 127, 0.2);
                            }
                        }
                        &:first-child{
                            a{
                                border-top: 0px !important;
                            }
                        }
                        a{
                            text-align: left;
                            display: block;
                            margin: 0;
                            padding-left: 0px;
                            font-size: 14px;
                            border: none;
                            background: transparent;
                            border-bottom: 1px solid rgba(127, 127, 127, 0.2);
                        }
                    }

                    li.active{
                        a{
                            margin: 0;
                            border: none;
                            background: transparent;
                            border-top: 1px solid rgba(127, 127, 127, 0.2);
                            border-bottom: 1px solid rgba(127, 127, 127, 0.2);
                            border-radius: 0px;
                        }
                    }
                }

                .nav.open{
                    border: 1px solid rgba(127, 127, 127, 0.2);
                    margin-bottom: 10px;
                    max-height: 600px;
                }

                .tab-content{
                    .tab-pane{

                        .top_block{
                            padding: 15px 15px;
                            border-radius: 6px;
                            p{
                                color: black;
                                font-family: $hfont;
                                font-size: 13px;
                                line-height: 17px;
                                margin-bottom: 5px;

                                span{
                                    width: 60px;
                                }

                                a{
                                    font-size: 13px;
                                    &:after{
                                        transform: scale(0.7);
                                        right: -13px;
                                    }
                                }
                            }
                        }

                        .bottom_block{
                            padding-left: 0px;
                            padding-right: 0px;
                            .person_count{
                                padding-top: 5px;
                                p{
                                    font-size: 16px;
                                }
                            }

                            .wrap_block{
                                margin-left: -5px;
                                margin-right: -5px;
                                width: calc(100% + 10px);
                                .panel-body{
                                    .col-md-12{
                                        a{


                                            h2{
                                                font-size: 14px;
                                                line-height: 18px;
                                            }
                                            span.radius{
                                                font-size: 12px;
                                                line-height: 17px;
                                            }

            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .posipak_detail{
        .main_content{
            .tab_block{
                .tab-content{
                    .tab-pane{
                        .bottom_block{
                            .wrap_block{
                                .panel-body{
                                    .col-md-12{
                                        a{
                                            padding: 7px 0;
                                            flex-wrap: wrap;
                                            h2{
                                                font-size: 12px;
                                                line-height: 15px;
                                                padding-bottom: 5px;
                                            }
    
                                            span.radius{
                                                font-size: 12px;
                                                line-height: 15px;
                                                width: 100%;
                                                text-align: left;
                                            }                                    
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}