.home_page{
    .header{
        .block_logo{
            background: #ffffff;
            text-align: center;
            padding: 0px 0 20px 0;

            .col-md-12{
                justify-content: center;
                .text-content{
                    p{
                        font-family: $hfont;
                    }
                }
            }
        }
    }

    .container{
        max-width: 1280px;
        width: 100%;
    }
}

.block_main_info{}

.posipaks_block {
    box-sizing: border-box;
    margin-bottom: 35px;
    width: 20%;
    padding: 0 10px;

  
    
    a{
        border: 1px solid rgba(172, 172, 172, 0.2);
        border-radius: 6px;
        display: block;
        overflow: hidden;
        padding: 0 18px;



        &:hover{
            box-shadow: 0px 20px 20px rgba(98, 195, 251, 0.25);
            margin-top: -20px;
            border-color: transparent;
            background: #62C3FB;
            .block_count_and_period {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                .count{
                    p{
                        color: white;
                    }
                }

                .period{
                    border-left: 1px solid rgba(255, 255, 255, 0.3);
                    p{
                        color: white;
                    }
                }
            }

            .helpers{
                .left_block, .right_block{
                    p{
                        color: #F4F4F4;
                    }
                }
            }
        }

        &:active{
            margin-top: 0px;
            box-shadow: unset
        }

        .block_count_and_period {
            width: 100%;
            display: flex;
            align-items: center;
            background: transparent;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #F4F4F4;

            .count{
                margin-right: 8px;
                p{
                    font-size: 140px;
                    color: $c-y;
                    font-family: $hfont;
                    line-height: 105px;
                    margin-top: 0px;
                }
            }

            .period{
                color: black;
                margin-left: 0px;
                border-left: 1px solid #F4F4F4;
                margin-top: 0px;
                font-size: 24px;
                padding-top: 0px;
                margin-bottom: 5px;

                p{
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .helpers{
            background: transparent;
            padding-top: 17px;
            padding-bottom: 25px;
            .left_block, .right_block{
                p{
                    line-height: 26px;
                    font-size: 20px;
                    text-align: center;

                    color: #7F7F7F;
                    font-family: $hfont;

                    span{
                        padding: 6px 0;
                        font-size: 36px;
                        display: block;
                        color: black;
                        font-family: $hbfont;
                    }
                }
            }

        }

    }

}

@media screen and (max-width: 1024px) {

    .home_page{
        .header{
            .block_logo{
                .col-md-12{
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }

    .block_header{
        padding-top: 65px;
        h2{
            font-size: 46px;
        }

       

        .text-content{
             p {
                line-height: 23px;
                font-size: 18px;    
            }
        }
    }
}

@media screen and (max-width: 768px) {

    

    .block_header{
        h2{
            font-size: 36px;
        }

       

        .text_content{
            margin-bottom: 90px;
             p {
                line-height: 21px;
                font-size: 16px;    
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .home_page{
        .header{
            height: 42px;
            .block_logo{
                .col-md-12{
                    justify-content: center;
                }
            }
        }
    }

    .block_header{
        h2{
            font-size: 24px;
        }

         

        .text_content{
            margin-bottom: 45px;
            p {
                line-height: 16px;
                font-size: 12px;    
            }
        }
        
    }

    .posipaks_block {
        margin-bottom: 10px;
    }
}