.search_page{
    .header{
    }

    .caption{
        box-shadow: inset 0px 12px 16px -12px rgba(0, 0, 0, 0.32);
        padding-top: 70px;
        padding-bottom: 40px;
        .text-center{
            margin: 0px;
            font-size: 46px;
            line-height: 53px;
            color: black;
            font-family: $hbfont;
            span{
                margin-top: 8px;
                display: block;
                color: $c-y;
            }
        }

        .count{
            text-align: center;
            font-family: $hlfont;
            font-size: 24px;
            line-height: 28px;
            padding-top: 50px;

        }
    }

    .main_content{
        display: flex;
        flex-wrap: wrap;
        max-width: 808px;
        align-items: stretch;
        padding-top: 0px;
        .block_wrap {
            padding: 0 10px;
            width: 100%;
            .panel{
                height: 100%;
                border: 1px solid rgba(127, 127, 127, 0.2);
                box-sizing: border-box;
                border-radius: 6px;
                background: transparent;



                .panel_block{
                    padding: 20px 20px;
                    padding-bottom: 0px;
                    a{
                        width: 100%;
                        padding: 0px; 
                        margin: 0px;
                        padding-bottom: 0px;
                        text-align: left;
                        line-height: 31px;
                        font-size: 24px;
                        font-family: $hmfont;
                        border-bottom: 0px solid transparent;
                        &:hover{
                            color: $c-blue;
                        }
                    }
                }

                .panel-collapse{
                    padding: 0 20px;
                    padding-top: 10px;
                    .panel-body{
                        padding: 0;
                        margin: 0;
                        .col-md-12{
                            padding: 0;
                            .link_nb{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 13px 0px;
                                &:hover{
                                    p{
                                        color: $c-blue;
                                    }
                                }
                                .support{
                                    font-size: 12px;
                                    font-family: $hlfont;
                                    color: #7F7F7F;
                                }
                                p{
                                    font-size: 16px;
                                    line-height: 21px;
                                    color: black;
                                    font-family: $hlfont;
                                    padding: 0px;
                                    margin: 0px;
                                }

                                span{
                                    position: relative;
                                    font-size: 14px;
                                    line-height: 18px;
                                    padding: 3px 21px;
                                }
                                
                                .convocation{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 150px;
                                    margin-bottom: 15px;

                                    .label{
                                        color: black;
                                        font-size: 16px;
                                        padding: 0px;
                                        margin: 0px;
                                        border-bottom: 1px solid black;
                                        border-radius: 0px;
                                        &:after{
                                            display: none;
                                        }
                                    }
                                    span{
                                        position: relative;
                                        font-size: 0px;
                                        height: 19px;
                                        width: 19px;
                                        border-radius: 50%;
                                        min-width: 19px;
                                        box-sizing: border-box;
                                        border: 1px solid transparent;
                                        padding: 0;
                                    }
    
                                }
    
                                .label{
                                    color: $c-y;
                                    font-family: $hlfont;
                                    font-size: 20px;
                                    font-weight: normal;
                                    margin: 0px;
                                    padding: 0px;
                                    position: relative;

                                    &:after{
                                        content: url('./../assets/svg/right.svg');
                                        position: absolute;
                                        top: 2px;
                                        right: -13px;
                                    }
                                }
    
                                
                            }
                        }
                    }
                }
            }
        }

        .text-center{
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .search_page{

        .caption{
            padding-top: 60px;
            padding-bottom: 28px;
            .text-center{
                font-size: 36px;
                line-height: 42px;
                span{
                    margin-top: 8px;
                }
            }

            .count{
                font-size: 20px;
                line-height: 24px;
                padding-top: 40px;
            }
        }

        .main_content{
            padding: 0 20px;
            max-width: 750px;
            .block_wrap {
                padding: 0 7.5px;
                .panel{
                    .panel_block{
                        padding-top: 10px;
                        a{
                            line-height: 26px;
                            font-size: 20px;
                        }
                    }

                    .panel-collapse{
                        .panel-body{
                            padding: 0;
                            margin: 0;
                            .col-md-12{
                                padding: 0;
                                .link_nb{
                                    padding: 8px 0;
                                    .support{
                                        font-size: 11px;
                                        font-family: $hlfont;
                                        color: #7F7F7F;
                                    }
                                    p{
                                        font-size: 16px;
                                        line-height: 21px;
                                        padding-top: 3px;
                                        margin-bottom: 5px;
                                    }

                                    span{
                                        font-size: 13px;
                                        line-height: 17px;
                                        padding: 3px 13px;
                                    }
                                    
                                    .convocation{
                                        width: 130px;
                                        margin-bottom: 10px;

                                        .label{
                                            font-size: 14px;
                                        }
                                        span{
                                            height: 17px;
                                            width: 17px;
                                            min-width: 17px;
                                        }
        
                                    }
        
                                    .label{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .text-center{
                display: block;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .search_page{

        .caption{
            padding-top: 67px;
            padding-bottom: 28px;
            .text-center{
                font-size: 28px;
                line-height: 32px;
                span{
                    margin-top: 6px;
                }
            }
            .count{
                font-size: 18px;
                line-height: 21px;
            }
        }

        .main_content{
            padding: 0 20px;
            max-width: 500px;
            .block_wrap {
                padding: 0 7.5px;
                margin-bottom: 10px;
                .panel{
                    .panel_block{
                        padding-bottom: 0px;
                        a{
                            line-height: 21px;
                            font-size: 16px;
                        }
                    }

                    .panel-collapse{
                        padding-top: 10px;
                        .panel-body{
                            padding: 0;
                            margin: 0;
                            .col-md-12{
                                padding: 0;
                                .link_nb{
                                    .support{
                                        font-size: 10px;
                                        font-family: $hlfont;
                                        color: #7F7F7F;
                                    }
                                    p{
                                        font-size: 14px;
                                        line-height: 18px;
                                        padding-top: 3px;
                                        margin-bottom: 5px;
                                    }

                                    span{
                                        font-size: 12px;
                                        line-height: 15px;
                                    }
                                    
                                    .convocation{
                                        width: 110px;
                                        margin-bottom: 10px;

                                        .label{
                                            font-size: 14px;
                                        }
                                        span{
                                            height: 17px;
                                            width: 17px;
                                            min-width: 17px;
                                        }
        
                                    }
        
                                    .label{
                                        font-size: 14px;
                                        &:after{
                                            transform: scale(0.7);
                                            top: 2px;
                                            right: -11px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .text-center{
                display: block;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .search_page{
        .caption{
            padding-top: 45px;
            padding-bottom: 42px;
            .text-center{
                font-size: 22px;
                line-height: 25px;
            }
        }


        .main_content{
            padding: 0 10px;
            .block_wrap {
           
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .search_page{

        .caption{
            padding-top: 45px;
            padding-bottom: 22px;
            .count{
                font-size: 16px;
                line-height: 19px;
                padding-top: 30px;
            }
        }


        .main_content{
            padding: 0 15px;
            .block_wrap {
                .panel{

                    .panel_block{
                        a{
                            line-height: 17px;
                            font-size: 13px;
                        }
                    }
                    .panel-collapse{
                        padding-top: 0px;
                        .panel-body{
                            padding: 0;
                            margin: 0;
                            .col-md-12{
                                .link_nb{
                                    flex-wrap: wrap;
                                    p{
                                        font-size: 12px;
                                        line-height: 15px;
                                        padding-bottom: 3px;
                                    }
                                    span{
                                        margin-top: 0px;
                                        font-size: 12px;
                                        line-height: 15px;
                                        width: 100%;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}