.posipak{
    .header{
    }

    .block_main_info{
        background: unset;
        .header_container{
            background: unset;
            .row{
                background: unset;
                padding-top: 70px;
                padding-bottom: 34px;
                .text_content{
                    h2{
                        margin: 0px;
                        font-size: 46px;
                        line-height: 53px;
                        color: black;
                        font-family: $hbfont;
                    }
                }
            }
        }
    }

    .container{
        max-width: 1280px;
        width: 100%;
        .main_content{
            margin: 0;
            width: 100%;
            max-width: 100%;
            background: transparent;

            h3{
                font-family: $hlfont;
                color: #7F7F7F;
                font-size: 24px;
                margin: 0;
                text-align: center;
            }
            .block_wrap {
                display: flex;
                align-items: stretch;
                flex-wrap: wrap;
                .col-md-12{
                    width: 25%;
                    padding: 0 10px;
                    margin-bottom: 20px;
                    border: 0px;
                    .wrap{
                        height: 100%;
                        padding: 13px 30px;
                        border: 1px solid rgba(127, 127, 127, 0.2);
                        box-sizing: border-box;
                        border-radius: 6px;

                        &:hover{
                            background: $c-blue;
                            box-shadow: 0px 20px 20px rgba(77, 187, 250, 0.25);
                            .name{
                                border-color:  rgba(255, 255, 255, 0.3);
                                p{
                                    a{
                                        span{
                                            color: white;
                                        }
                                    }
                                }
                            }

                            .panel_body {
                                .conv{
                                    a{
                                        border-color: white; 
                                        color: white;
                                    }

                                    span{
                                        border-color: white;
                                    }
                                }

                                p{
                                    span{
                                        color: white;
                                    }
                                }
                            }
                        }
                        &:active{
                            background: $c-blue;
                            box-shadow: unset;
                            
                            
                        }
                        .name{
                            width: 100%;
                            border-bottom: 1px solid #F4F4F4;
                            p{
                                padding-bottom: 7px;
                                a{
                                    &:hover{
                                        text-decoration: none;
                                    }
                                    span{
                                        line-height: 21px;
                                        font-size: 16px;
                                        font-family: $hfont;
                                        color: #E6C247;
                                    }
                                }
                            }
                        }

                        .panel_body{
                            width: 100%;
                            padding-bottom: 15px;
                            .conv{
                                width: 150px;
                                position: relative;
                                margin-top: 10px;
                                a{
                                    line-height: 21px;
                                    font-size: 16px;
                                    color: black;
                                    font-family: $hlfont;
                                    border-bottom: 1px solid black;

                                    &:hover{
                                        text-decoration: none;
                                    }
                                }

                                span{
                                    top: 3px;
                                    right: 0px;
                                    width: 19px;
                                    height: 19px;
                                    min-width: 19px;
                                    box-sizing: border-box;
                                    border: 1px solid transparent;
                                }
                            }

                            p{
                                margin-top: 10px;
                                span{
                                    line-height: 17px;
                                    font-size: 13px;
                                    color: black;
                                    font-family: $hlfont;
                                }
                            }
                        }
                    }
                }
            }
    
            .text-center{
                display: block;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .posipak{

        .block_main_info{
            .header_container{
                .row{
                    padding-top: 54px;
                    padding-bottom: 14px;
                    .text_content{
                        h2{
                            font-size: 36px;
                            line-height: 42px;
                        }
                    }
                }
            }
        }

        .container{
            .main_content{

                h3{
                    font-size: 20px;
                }
                .block_wrap {
                    .col-md-12{
                        width: 25%;
                        padding: 0 7.5px;
                        margin-bottom: 15px;
                        .wrap{
                            padding: 9px 15px;

                            .name{
                                p{
                                    padding-bottom: 7px;
                                    a{
                                        span{
                                            line-height: 17px;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .panel_body{
                                padding-bottom: 10px;
                                .conv{
                                    width: 120px;
                                    position: relative;
                                    margin-top: 7px;
                                    a{
                                        line-height: 17px;
                                        font-size: 14px;
                                    }

                                    span{
                                        top: 3px;
                                        right: 0px;
                                        width: 17px;
                                        height: 17px;
                                        min-width: 17px;
                                    }
                                }

                                p{
                                    margin-top: 7px;
                                    span{
                                        line-height: 15px;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
    
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .posipak{

        .block_main_info{
            .header_container{
                .row{
                    padding-top: 60px;
                    padding-bottom: 4px;
                    .text_content{
                        margin-bottom: 0px;
                        h2{
                            font-size: 28px;
                            line-height: 32px;
                        }
                    }
                }
            }
        }

        .container{
            .main_content{
                padding-left: 0px;
                padding-right: 0px;

                h3{
                    font-size: 20px;
                }
                .block_wrap {
                    .col-md-12{
                        width: 33.333%;
                        padding: 0 5px;
                        margin-bottom: 10px;
                    }
                }
    
            }
        }
    }
}
@media screen and (max-width: 590px) {
    .posipak{


        .container{
            .main_content{

                .block_wrap {
                    .col-md-12{
                        width: 50%;
                    }
                }
    
            }
        }
    }
}
@media screen and (max-width: 480px) {
        .posipak{

        .block_main_info{
            .header_container{
                .row{
                    padding-top: 54px;
                    padding-bottom: 14px;
                    .text_content{
                        h2{
                            font-size: 22px;
                            line-height: 23px;
                        }
                    }
                }
            }
        }

        .container{
            .main_content{

                h3{
                    font-size: 16px;
                    line-height: 21px;
                }
                .block_wrap {
                    .col-md-12{
                        width: 100%;
                        padding: 0 0px;
                    }
                }
    
            }
        }
    }
}
